{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename = 'insert_user.css')}}"
/>
<body>
  <div id="messages">
    {% with messages = get_flashed_messages(with_categories = true) %} 
        {% if messages %} 
            {% for category, message in messages %}
                <h3 class="{{category}}">{{message}}</h3>
            {% endfor %} 
        {% endif %} 
    {% endwith %}
  </div>
  <h1 id="HELLO">INSERT USER DATA HERE</h1>
  <div id="task-form">
    <form action="/admin/insert" method="post">
      <label class="child-task-form" id="label" for="user_name">USERNAME</label>
      <input
        class="child-task-form"
        id="input"
        type="text"
        name="user_name"
        placeholder="ENTER USERNAME HERE"
      />
      <br />
      <label class="child-task-form" id="label" for="PASSWORD">PASSWORD</label>
      <input
        class="child-task-form"
        id="input"
        type="text"
        name="pass_word"
        placeholder="ENTER USERNAME PASSWORD"
      />
      <br>
      <label class="child-task-form" id="label" for="GMAIL">GMAIL</label>
      <input
        class="child-task-form"
        id="input"
        type="text"
        name="gmail"
        placeholder="ENTER USERNAME gmail"
      />
      <button class="child-task-form" id="button" type="submit">INSERT</button>
    </form>
  </div>
</body>

{% endblock %}
