{% extends "base.html" %} {% block title %} WELCOME TO OUR PAGE {% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'login.css')}}" />
<h1>THIS IS LOGIN PAGE</h1>
<div id="messages">
  {% with messages = get_flashed_messages(with_categories = true) %} {% if
  messages %} {% for category, message in messages %}
  <h3 class="{{category}}">{{ message }}</h3>
  {% endfor %} {% endif %} {% endwith %}
</div>

<h2>LOGIN HERE</h2>
<div id="LOGIN">
  <form action="{{url_for('login_page')}}" method="post">
    <label for="user_name"> YOUR USERNAME:</label>
    <input type="text" name="user_name" placeholder="your full name..." />
    <br />
    <label for="pass_word"> PASS WORD:</label>
    <input
      type="text"
      name="pass_word"
      value="{{pass_word if pass_word}}"
      placeholder="enter your password..."
    />
    <button>LOG IN</button>
  </form>
</div>
{% endblock %}
