{% extends "base.html" %}
{% block title %} WELCOME TO OUR PAGE {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename = 'user.css')}}">
<div id = "messages">
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h3 class="{{category}}">
                    {{ message }}
                </h3>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<h1 id = 'user'>
    Nice to meet you! Dear {{user}}
</h1>

{% endblock %}