h2
{
    text-align: center; 
    font-weight: bold;
}
button
{
    background-color: rgb(48, 176, 48);
    color: rgb(255, 255, 255);
    font-weight: bold;
    min-width: 50px;
    min-height: 50px;
}
button:hover
{
    background-color: green;
}
button:active
{
    background-color: rgb(48, 176, 48);

}
input[type="text"]
{
    margin-left: 50px;
    min-height: 50px;
    min-width: 50px;
}
div#messages
{
    width: 100%;
    background-color: red;
    color: darkgray;
    min-height: max-content;
}
.error{
    width: 100%;
    background-color: red;
    height: max-content;
}

.info
{
    width: 100%;
    background-color: green;
}
form
{
    display: flex;
    flex-direction: column;     /* stack vertically */
    justify-content: center;    /* center vertically if parent has height */
    align-items: center;        /* center horizontally */
    /* height: 100vh;  */
}
